---
title: Third Prestige &middot; Ruby on Rails in Austin, Texas
body_class: index
---

%h1
  We help you build the right product.
  %em (We also build products right.)


#third-introduction.initial

  %p
    We&#8217;re a Ruby on Rails shop in Austin, Texas.
    We love coffee, breakfast tacos, and delivering quality code.

  %p
    We believe helping our clients make better decisions about how to invest in technology is just as important as our actual craft.


#third-offerings
  %h2 We offer:


#third-cto
  %h3 CTO as a Service

  %p
    Want your developers heads-down delivering features, instead of writing reports?  Or just not ready to invest in a full-time CTO?

  %p
    We'll work with your team to avoid costly security, scalability, and maintainability issues before they arise, and provide you with monthly CEO and investor-ready reports, on one monthly retainer.


#third-high-performance
  %h3 High Performance Ruby on Rails Apps

  %p
    Is your product as fast as it could be?  Google VP Marissa Mayer tried tripling the number of search results on each page. Google lost 20% of their traffic, overnight. The cause? The
    %strog half-second delay
    introduced by the extra results.

  %p
    A faster product always leads to more and happier customers. We work with every layer of the web, and we can help you improve your product&mdash;often overnight.


#third-training
  %h3 Training

  #design-for-developers

  #advanced-ruby-on-rails-strategies

  #beginning-ruby-on-rails

  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non orci non dui sollicitudin blandit vel vel nibh. Curabitur non malesuada orci. Morbi at elit nec nulla ullamcorper volutpat a id est.


#third-clientele
  %h3 Some of the clients we&#8217;ve worked with:

  %ol
    %li Huffington Post
    %li LinkedIn
    %li Comcast
    %li eBay
    %li Huckberry


#third-etc
  %h3 Anything else? We can help

  %p Give us a call: 512.394.4105


